<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- bootstrap css file -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>
      Guest List
    </title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 mt-4 mx-auto">
          <hr />
          <div class="row mt-4">
            <div class="col-md-8 ">
              <h1>Guest List</h1>
            </div>
            <div class="col-md-4">
              <a
                href=""
                class="btn btn-success float-right"
                data-toggle="modal"
                data-target="#register"
              >
                Add New Guest
              </a>
            </div>
          </div>
          {% with messages = get_flashed_messages()%} 
          {% for message in messages%} 
          {%if message%}
          <div
            class="alert alert-success alert-dismissable text-center"
            role="alert"
            aria-label="close">
            <button data-dismiss="alert" class="close">
              <span aria-hidden="true">x</span>
            </button>
            {{ message }}
          </div>
          {%endif%} 
          {%endfor%} 
          {%endwith%}
          <hr />


          <div class="col-md-11 mx-auto">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telephone</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>           
              <tbody>
{% for guest in guests %}
  {%if guest %}               
                <tr>
                  <th scope="row">
                    {{ loop.index }}
                  </th>                                  
                  <td>{{ guest.firstname }}</td>
                  <td>{{ guest.lastname }}</td>
                  <td>{{ guest.email }}</td>
                  <td>{{ guest.tel }}</td>
                  <td>
                    <a href="/{{guest.id}}" class="btn btn-warning" data-toggle="modal" data-target="#edit{{ guest.id }}">Edit</a>
                    <a href="delete/{{guest.id}}" onclick="return confirm('Are You Sure You Want To Delete This Record?')" class="btn btn-danger">Delete</a>
                  </td>
                </tr>         
  {%else%}
                <tr>
                  <td>No data to display</td>
                </tr>
  {%endif%}
{% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- the add category modal form -->
    <div
      class="modal fade"
      id="register"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add New Guest</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="{{ url_for('index') }}" method="POST">
            <div class="modal-body mx-3">
              <div class="md-form mb-2">
                {{ form.id(value="") }}
                {{ form.fname(class="form-control validate", value="") }}
                {{ form.fname.label }}
              </div>
              <div class="md-form mb-2">
                {{ form.lname(class="form-control validate", value="") }}
                {{ form.lname.label }}
              </div>
              <div class="md-form mb-2">
                {{ form.email(class="form-control validate", value="") }}
                {{ form.email.label }}
              </div>
              <div class="md-form mb-2">
                {{ form.tel(class="form-control validate", ) }}
                {{ form.tel.label }}
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-warning" type="submit">
                Register Guest
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end of add category modal form -->

    <!-- the edit category modal form -->
    {% for guest in guests %}
    <div
      class="modal fade"
      id="edit{{ guest.id }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Edit Record</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="{{ url_for('index') }}" method="POST">
            <div class="modal-body mx-3"> 
              <div class="md-form mb-2">
                {{ form.id(value= guest.id ) }}
                {{ form.fname(class="form-control validate", value=guest.firstname) }}
                {{ form.fname.label }}
              </div>
              <div class="md-form mb-2">
                {{ form.lname(class="form-control validate", value=guest.lastname ) }}
                {{ form.lname.label }}
              </div>
              <div class="md-form mb-2">
                {{ form.email(class="form-control validate", value=guest.email ) }}
                {{ form.email.label }}
              </div>
              <div class="md-form mb-2">
                {{ form.tel(class="form-control validate", value=guest.tel) }}
                {{ form.tel.label }}
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-warning" type="submit">
                Update Record
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end of edit category modal form -->
   {% endfor %}


    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
